:root {
    --blue: #2d2d72;
    --yellow: #f5bf23;
    --black: #111;
    --white: #fff;
    --light-color: #585757;
    --light-bg: #eee;
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1);
    --border: .1rem solid rgba(0,0,0,.3);
}

/*==========================================================================================
                                    ABOUT US SECTION STARTS
===========================================================================================*/

#about-us {
    background-color: #fff;
}

.about-us-section .animate {
    transform: scale(.7);
    opacity: 0;
    transition: 1s;
}

.about-us-section.show-animate .animate {
    transform: scale(1);
    opacity: 1;
}


#about-us .heading-subtitle {
    font-size: 1.5rem;
}

#about-us .text_section {
    font-size: 1.3rem;
    color: #3f3e3e;
    max-width: 800px;
    margin: auto;
}

#about-us .content {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#about-us .content .about-section {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: flex-start;
    max-width: 1200px;
}

.about-image, .about-text {
    text-align: justify;
    line-height: 1.6;
    flex: 1;
    max-width: 500px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

#about-us .box-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

#about-us .box-container .box {
    text-align: center;
    background: var(--light-bg);
    padding: 3rem 2rem;
}

#about-us .box-container .box:hover {
    transform: scale(1.1);
}

#about-us .box-container .box h3 {
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
}

#about-us .box-container .box p {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.5;
}

#about-us .show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
    }
}