:root {
    --blue: #2d2d72;
    --yellow: #f5bf23;
    --black: #111;
    --white: #fff;
    --light-color: #585757;
    --light-bg: #eee;
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1);
    --border: .1rem solid rgba(0,0,0,.3);
}

/*=============================================================================================
                        HERO SECTION AND SLIDER STARTS HERE
=============================================================================================*/

/* Hero Section */
.home {
    position: relative;
    width: 100%;
    min-height: 450px;
    columns: var(--white);
    z-index: 9;
}

/* Background image and sizing */
.home .background_images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background--co1Y8 picture {
    display: block;
    width: 100%;
    height: 100%;
}

.imageBanner---h3G2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlay */
.background_image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(25, 27, 38, 0.20), rgba(25, 27, 38, 0.20));
}

/* Content */
.home .content_section {
    position: relative;
    width: 100%;
    display: flex;
    color: var(--white);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    min-height: 440px;
    padding: 0 32px;
}


.home .content_section .content_wrapper {
    width: 100%;
    max-width: 840px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home .content_section .content_wrapper h1 {
    margin: 0 0 8px;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white);
    text-transform: capitalize;
}

.home .content_section .content_wrapper h2 {
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 24px;
    color: #fff;
    letter-spacing: 0.5px;
}

.readeMoreAboutUsContainer {
    position: absolute;
    left: 32px;
    bottom: 24px;
}

.readeMoreAboutUsContainer a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    color: #fff;
}

.home .contactUsContainer {
    position: absolute;
    right: 32px;
    bottom: 24px;
}

.home .contactUsContainer .contact-us {
    background-color: var(--white);
    padding: 1.2rem 3rem;
    border-radius: 4px;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.home .contactUsContainer .contact-us a {
    color: var(--black);
}

.home .contactUsContainer .contact-us:hover {
    background-color: var(--blue);
    color: var(--white);
    scale: 1.1;
    color: var(--white) !important;
}

.home .contactUsContainer .contact-us a:hover {
    color: var(--white);
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .h1--bZ6EI {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .heroSearch--0FfMR input {
        width: 250px;
    }

    .home .contactUsContainer {
        position: absolute;
        right: 24px;
        bottom: 13px;
    }
}

@media (max-width: 480px) {
    .h1--bZ6EI {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1rem;
    }

    .heroSearch--0FfMR input {
        width: 200px;
    }
}