@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/*========================================================================
            POPPINS STYLES
========================================================================*/
.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
.poppins-extralight {
font-family: "Poppins", serif;
font-weight: 200;
font-style: normal;
}
  
.poppins-light {
font-family: "Poppins", serif;
font-weight: 300;
font-style: normal;
}
  
.poppins-regular {
font-family: "Poppins", serif;
font-weight: 400;
font-style: normal;
}
  
.poppins-medium {
font-family: "Poppins", serif;
font-weight: 500;
font-style: normal;
}
  
.poppins-semibold {
font-family: "Poppins", serif;
font-weight: 600;
font-style: normal;
}
  

/*============================================================================================
                        STYLING STARTS
=============================================================================================*/
:root {
    --blue: #2d2d72;
    --black: #111;
    --white: #fff;
    --light-color: #585757;
    --light-bg: #eee;
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1);
    --border: .1rem solid rgba(0,0,0,.3);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

body {
    background: var(--light-bg);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

section {
    padding: 5rem 10%;
    overflow-x: hidden;
}

.heading {
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
    padding-left: 1rem;
    border-left: 1rem solid var(--blue);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;
}
.btn:hover {
    background: var(--black);
    color: var(--white);
}
/*==========================================================================================
                                    Keyframes Animations
===========================================================================================*/
@keyframes fadeIn {
    0% {
        top: 50%;
        opacity: 0;
    }
}

@keyframes fadeIn_Partners_section {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--blue);
}


/*==========================================================================================
                                    HEADER SECTION STARTS HERE
===========================================================================================*/
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: var(--white);
}

.navbar a {
    font-size: 2.5rem;
    color: var(--black);
    text-transform: capitalize;
    margin: 0 1rem;
}
.navbar a:hover {
    color: var(--blue);
}

.icons {
    display: flex;
    align-items: center;
}

.icons div {
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: .3rem;
}

.icons div:hover {
    background: var(--black);
    color: var(--white);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 70rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    display: none;
    align-items: center;
    gap: 1rem;
    animation: fadeIn .2s linear;
}

.header .active {
    display: flex;
}

.header .search-form input {
    width: 100%;
    padding: 1.2rem 1.4rem;
    background: var(--light-bg);
    font-size: 1.6rem;
    color: var(--light-color);
}

.header .search-form label {
    color: var(--black);
    cursor: pointer;
    margin: 0 1rem;
}
.header .search-form label:hover {
    color: var(--blue);
}

.contact-info {
    position: fixed;
    top: 0;
    right: 0;
    width: 30rem;
    background: var(--white);
    height: 100%;
    text-align: center;
    z-index: 1100;
    padding: 0 2rem;
    padding-top: 5rem;
    display: none;
}

.contact-info.active {
    box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
    display: block;
}

#close-contact-info {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: var(--black);
}

#close-contact-info:hover {
    transform: rotate(90deg);
}

.contact-info .info {
    padding: 2rem 0;
}

.contact-info .info i {
    padding: .5rem 1rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin-bottom: .5rem;
}

.contact-info .info i:hover {
    background: var(--black);
    color: var(--white);
}

.contact-info .info h3 {
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
}

.contact-info .info p {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.5;   
}

.contact-info .share {
    padding-top: 1rem;
    border-top: var(--border);
    margin-top: 1rem;
}

.contact-info .share a {
    height: 5rem;
    width: 5rem;
    padding: .5rem 1rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin: 0 .3rem;
}

.contact-info .share a:hover {
    background: var(--black);
    color: var(--white);
}

/*=============================================================================================
                        HERO SECTION AND SLIDER STARTS HERE
=============================================================================================*/
.home {
    padding: 0;
}
.home .slide {
    min-height: 45rem;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
}

.home .slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.2);
}

/* decrease the opacity if the two slides to make the text more visible */
.home .slide2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
}

.home .slide3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
}

.home .slide .content {
    width: 50rem;
    position: relative;
}

.home .slide .content h3 {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
}

.home .slide .content p {
    font-size: 1.5rem;
    color: #D3D3D3;
    line-height: 1.5;
    padding: 1rem 0;
}

.home .swiper-button-next {
    top: initial;
    bottom: 0;
    left: initial;
    right: 0;
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    background: var(--white);
    color: var(--black);
}
.home .swiper-button-prev {
    top: initial;
    bottom: 0;
    left: initial;
    right: 6rem;
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    background: var(--white);
    color: var(--black);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 3rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--blue);
    color: var(--white) !important;
}


/*==========================================================================================
                                    ABOUT US SECTION STARTS
===========================================================================================*/

#about-us {
    background-color: #fff;
}

.about-us-section .animate {
    transform: translateX(-70%);
    opacity: 0;
    transition: 1s;
}

.about-us-section.show-animate .animate {
    transform: translateX(0);
    opacity: 1;
}


#about-us .heading-subtitle {
    font-size: 1.5rem;
}

#about-us .text_section {
    font-size: 1.3rem;
    color: #3f3e3e;
    max-width: 800px;
    margin: auto;
}

#about-us .content {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#about-us .content .about-section {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: flex-start;
    max-width: 1200px;
}

.about-image, .about-text {
    text-align: justify;
    line-height: 1.6;
    flex: 1;
    max-width: 500px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

#about-us .box-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

#about-us .box-container .box {
    text-align: center;
    background: var(--light-bg);
    padding: 3rem 2rem;
}

#about-us .box-container .box h3 {
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
}

#about-us .box-container .box p {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.5;
}

#about-us .show {
    opacity: 1;
    transform: translateY(0);
}


/*==========================================================================================
                                OUR SERVICES SECTION STARTS
===========================================================================================*/
.services-section .animate {
    transform: scale(.7);
    opacity: 0;
    transition: 1s;
}

.services-section.show-animate .animate {
    transform: scale(1);
    opacity: 1;
}
#services .heading-subtitle {
    font-size: 1.5rem;
}

#services .services-container {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

#services .services-container .service-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.service-card img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    object-position: center;
}

.service-card .service-title {
    font-size: 2rem;
    padding: 0px 16px;
    color: var(--blue);
}

.service-card .service-description {
    font-size: 1.4rem;
    padding: 0px 16px;
    color: var(--light-color);
}

.service-card .sub-services {
    padding-top: 30px;
    text-align: left;
}

.service-card .sub-services .sub-service {
    border-top: 1px solid rgb(226, 224, 224);
    padding: 10px 16px;
    cursor: pointer;
    position: relative;
    color: var(--black);
    font-size: small;
    transition: background 0.2s;
}

.service-card .sub-services .sub-service:hover {
    background: #f0f0f0;
}

.sub-service .arrow {
    position: absolute;
    right: 10px;
}

.service-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.sub-services .expanded-content {
    color: var(--blue);
}


/*==========================================================================================
                                OUR PARTNERS SECTION
===========================================================================================*/
.our-partners-section.show-animate .animate {
    animation: fadeIn_Partners_section 0.5s ease forwards;
    transition: 1s;
}
#partners .heading-subtitle {
    font-size: 1.5REM;
    color: #000;
    margin-bottom: 30px;
}

#partners .partners-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#partners .partners-container .partner-card {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    border-radius: 8px;
    background-color: white;
    box-shadow: var(--box-shadow);
}

#partners .partners-container .partner-card img {
    height: auto;
    padding: 10px;
    
}

#partners .partners-container .partner-card .cybill_img {
    padding-left: 45px !important;
}

#partners .partners-container .partner-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/*==========================================================================================
                                REVIEWS SECTION STARTS
===========================================================================================*/


/*============================================================================================
                                MEDIA QUERIES SECTION
=============================================================================================*/
@media (max-width: 1200px) {
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 3rem 2rem;
    }
}

@media (max-width: 991px) {
    .header #menu-btn {
        display: flex;
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a {
        display: block;
        margin: 2rem;
    }
}

@media (max-width: 768px) {
    .header .search-form {
        width: 90%;
    }

    .home .slide {
        justify-content: center;
    }

    .home .slide .content {
        text-align: center;
    }

    .home .slide .content h3 {
        font-size: 3rem;
    }

    /* decrease the opacity of the two slides on mobile screens even more to make the
    texts more visible */
    .home .slide2::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.6);
    }
    
    .home .slide3::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.6);
    }

    .about-section {
        flex-direction: column;
    }

    #partners .partners-container .partner-card {
        width: 100%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 45%;
    }
}
