@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/*============================================================================================
                        STYLING STARTS
=============================================================================================*/
:root {
    --blue: #2d2d72;
    --yellow: #f5bf23;
    --black: #111;
    --white: #fff;
    --light-color: #585757;
    --light-bg: #eee;
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1);
    --border: .1rem solid rgba(0,0,0,.3);
}

* {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

body {
    background: var(--light-bg);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

section {
    padding: 5rem 5%;
    overflow-x: hidden;
}

.heading {
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
    padding-left: 1rem;
    border-left: 1rem solid var(--blue);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;
}
.btn:hover {
    background: var(--black);
    color: var(--white);
}
/*==========================================================================================
                                    Keyframes Animations
===========================================================================================*/
@keyframes fadeIn {
    0% {
        top: 50%;
        opacity: 0;
    }
}

@keyframes fadeIn_Partners_section {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* WebKit browsers (Chrome, Safari) */
html::-webkit-scrollbar {
    width: 1rem; /* Width of the scrollbar */
    background-color: transparent; /* Make the track background transparent */
}

html::-webkit-scrollbar-thumb {
    background-color: var(--blue); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid transparent; /* Creates space between the thumb and track */
    transition: background-color 0.3s; /* Smooth color transition on hover */
}

html::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-blue); /* Darker shade on hover */
}

html::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Light background for the track */
    border-radius: 10px; /* Rounded corners for the track */
}

/* Firefox */
html {
    scrollbar-width: 1rem;
    scrollbar-color: var(--blue) rgba(0, 0, 0, 0.1); /* Thumb color and track color */
}

/* Edge (uses WebKit styles) */
@supports (-ms-ime-align: auto) {
    html::-ms-scrollbar {
        width: 12px; /* Width of the scrollbar */
    }

    html::-ms-scrollbar-track {
        background: rgba(0, 0, 0, 0.1); /* Light background for the track */
        border-radius: 10px; /* Rounded corners for the track */
    }

    html::-ms-scrollbar-thumb {
        background: var(--blue); /* Color of the scrollbar thumb */
        border-radius: 10px; /* Rounded corners */
        border: 3px solid transparent; /* Creates space between the thumb and track */
    }

    html::-ms-scrollbar-thumb:hover {
        background: var(--dark-blue); /* Darker shade on hover */
    }
}

/*==========================================================================================
                                    HEADER SECTION STARTS HERE
===========================================================================================*/
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: var(--white);
}

/* Show the desktop menu */
.desktop-menu {
    display: flex;
}

.desktop-menu .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--black);
    text-transform: uppercase;
    margin-left: 1.5rem;
    transition: all 0.3s, color 0.3s;
}

.navbar a.active,
.navbar a:hover {
    background: var(--blue);
    padding: 7px 13px;
    border-radius: 3px;
    color: var(--white);
}

.open-menu-btn {
    display: none;
    cursor: pointer;
}

.header .mobile-menu {
    position: fixed; /* Fixed position for mobile menu */
    top: 0;
    right: 0; /* Start from the right */
    width: 300px; /* Set width for the slide-in menu */
    height: 100vh; /* Full height */
    background: var(--white);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    z-index: 1000;
    transform: translateX(100%); /* Start off-screen */
    opacity: 0; /* Start invisible */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transitions */
    visibility: hidden; /* Hidden by default */
}

/* Add a new class for hiding the menu */
.header .mobile-menu.inactive {
pointer-events: none; /* Prevent interaction when hidden */
}



/*=============================================================================================
                        HERO SECTION AND SLIDER STARTS HERE
=============================================================================================*/
.home {
    padding: 0;
}
.home .slide {
    min-height: 45rem;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
}

.home .slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.2);
}

/* decrease the opacity if the two slides to make the text more visible */
.home .slide2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
}

.home .slide3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
}

.home .slide .content {
    width: 50rem;
    position: relative;
}

.home .slide .content h3 {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
}

.home .slide .content p {
    font-size: 1.5rem;
    color: #D3D3D3;
    line-height: 1.5;
    padding: 1rem 0;
}

.home .swiper-button-next {
    top: initial;
    bottom: 0;
    left: initial;
    right: 0;
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    background: var(--white);
    color: var(--black);
}
.home .swiper-button-prev {
    top: initial;
    bottom: 0;
    left: initial;
    right: 6rem;
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    background: var(--white);
    color: var(--black);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 3rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--blue);
    color: var(--white) !important;
}


/*==========================================================================================
                                    ABOUT US SECTION STARTS
===========================================================================================*/

#about-us {
    background-color: #fff;
}

.about-us-section .animate {
    transform: translateX(-70%);
    opacity: 0;
    transition: 1s;
}

.about-us-section.show-animate .animate {
    transform: translateX(0);
    opacity: 1;
}


#about-us .heading-subtitle {
    font-size: 1.5rem;
}

#about-us .text_section {
    font-size: 1.3rem;
    color: #3f3e3e;
    max-width: 800px;
    margin: auto;
}

#about-us .content {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#about-us .content .about-section {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: flex-start;
    max-width: 1200px;
}

.about-image, .about-text {
    text-align: justify;
    line-height: 1.6;
    flex: 1;
    max-width: 500px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

#about-us .box-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

#about-us .box-container .box {
    text-align: center;
    background: var(--light-bg);
    padding: 3rem 2rem;
}

#about-us .box-container .box h3 {
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
}

#about-us .box-container .box p {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.5;
}

#about-us .show {
    opacity: 1;
    transform: translateY(0);
}


/*==========================================================================================
                                OUR SERVICES SECTION STARTS
===========================================================================================*/
.services-section .animate {
    transform: scale(.8);
    opacity: 0;
    transition: 1s;
}

.services-section.show-animate .animate {
    transform: scale(1);
    opacity: 1;
}
#services .heading-subtitle {
    font-size: 1.5rem;
}

#services .services-container {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

#services .services-container .service-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.service-card img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    object-position: center;
}

.service-card .service-title {
    font-size: 2rem;
    padding: 0px 16px;
    color: var(--blue);
}

.service-card .service-description {
    font-size: 1.4rem;
    padding: 0px 16px;
    color: var(--light-color);
}

.service-card .sub-services {
    padding-top: 30px;
    text-align: left;
}

.service-card .sub-services .sub-service {
    border-top: 1px solid rgb(226, 224, 224);
    padding: 10px 16px;
    cursor: pointer;
    position: relative;
    color: var(--black);
    font-size: small;
    transition: background 0.2s;
}

.service-card .sub-services .sub-service:hover {
    background: #f0f0f0;
}

.sub-service .arrow {
    position: absolute;
    right: 10px;
}

.service-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.sub-services .expanded-content {
    color: var(--blue);
}


/*==========================================================================================
                                OUR PARTNERS SECTION
===========================================================================================*/
.our-partners-section.show-animate .animate {
    animation: fadeIn_Partners_section 0.5s ease forwards;
    transition: 1s;
}
#partners .heading-subtitle {
    font-size: 1.5REM;
    color: #000;
    margin-bottom: 30px;
}

#partners .partners-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#partners .partners-container .partner-card {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    border-radius: 8px;
    background-color: white;
    box-shadow: var(--box-shadow);
}

#partners .partners-container .partner-card img {
    height: auto;
    padding: 10px;
    
}

#partners .partners-container .partner-card .cybill_img {
    padding-left: 45px !important;
}

#partners .partners-container .partner-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/*==========================================================================================
                                REVIEWS SECTION STARTS
===========================================================================================*/
.client-reviews {
    position: relative;
    background-color: #f9f9f9;
}

.client-reviews .reviews-wrapper {
    position: relative;
}

.client-reviews .reviews-wrapper .right-arrow {
    position: absolute;
    top: 17rem;
    right: 17rem;
    background: var(--blue);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.client-reviews .reviews-wrapper .right-arrow:hover {
    background: var(--yellow);
}

.client-reviews .reviews-wrapper .left-arrow {
    position: absolute;
    top: 17rem;
    left: 17rem;
    background: var(--blue);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.client-reviews .reviews-wrapper .left-arrow:hover {
    background: var(--yellow);
}

.client-reviews .clients-container {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.client-reviews .clients-container .client-images {
    display: flex;
    position: relative;
    margin-bottom: 4rem;
}

.client-reviews .clients-container .client-images .client-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 0.6rem;
    transition: transform 0.3s;
    object-fit: cover;
}

.client-reviews .clients-container .client-images .client-image.active {
    transform: scale(1.2);
    opacity: 1;
    box-shadow: var(--box-shadow);
    border: 3px solid #f5bf23;
}

.client-reviews .clients-container .review-section {
    background: white;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
}

.client-reviews .clients-container .review-section .review-text {
    font-size: 1.4rem;
    color: var(--black);
    margin-bottom: 2rem;
}

.client-reviews .clients-container .review-section .client-info {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.review-section .client-info .client-info-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    object-fit: cover;
}

.review-section .client-info .client-details {
    text-align: left;
}

.review-section .client-info .client-details .client-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--blue);
}

.review-section .client-info .client-details .stars {
    font-size: 1.2rem;
    color: #FFD700;
}

.reviews-wrapper .navigationButtons {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.reviews-wrapper .navigationButtons .left-arrow-btn,
.reviews-wrapper .navigationButtons .right-arrow-btn {
    background: var(--blue);
    color: var(--white);
    width: 80px;
    height: 40px;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.reviews-wrapper .navigationButtons .left-arrow-btn:hover {
    background: var(--yellow);
}
.reviews-wrapper .navigationButtons .right-arrow-btn:hover {
    background: var(--yellow);
}


/*==========================================================================================
                            OUR TEAM SECTION STARTS
===========================================================================================*/
.team-story-section {
    background-color: var(--white);
}
.team-story-section .heading-subtitle {
    font-size: 1.5rem;   
}

.team-story-section .team-container {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
    gap: 1rem; /*adds space between the cards */
}

.team-story-section .team-container .team-member {
    background: white;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; /* Add transition for hover effect */
}

.team-story-section .team-container .team-member:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.team-story-section .team-container .team-member .team-member-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 1rem; /* Space below the image */
}

.team-container .team-member .team-member-name {
    font-size: 1.8rem;
    margin: 0.5rem 0;
}

.team-container .team-member .team-member-role {
    font-size: 1.2rem;
    color: var(--blue);
}

.team-history {
    margin-top: 3rem;
    text-align: center;
    max-width: 800px; /* Set a max width for the history section */
    margin-left: auto; /* Center the section */
    margin-right: auto; /* Center the section */
    padding: 0 1rem; /* Add some horizontal padding */
}

.team-history h2 {
    font-size: 1.8rem; /* Slightly larger for emphasis */
    margin-bottom: 1rem;
}

.team-history p {
    font-size: 1.4rem;
    color: #555;
    margin: 0.5rem 0;
}

.team-member-image {
    width: 100%;
    border-radius: 0;
    height: auto; /* Keep this for responsive height */
    margin-bottom: 1rem; /* Space below the image */
}


/*==========================================================================================
                            CONTACT US SECTION STARTS
===========================================================================================*/
#contact .map-container {
    margin: 2rem 0;
    margin-top: 4rem;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact .map-container iframe {
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 8px;
}

#contact .contact-details {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    justify-content: space-between;
    gap: 1.5rem;
}

#contact .contact-details .location-info {
    flex: 1;
    background: linear-gradient(to right, #2d2d72, #A5C0E9);
    color: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}
#contact .contact-details .location-info h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: var(--white);
    text-decoration: underline;
}

#contact .contact-details .location-info p {
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
    line-height: 1.5;
}

#contact .contact-details .contact-form {
    background: #ffffff;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    flex: 1;
}

#contact .contact-details .contact-form h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: var(--black);
}

#contact .contact-details .contact-form label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    padding: 0.7rem 1.5rem;
    border: none;
    background-color: var(--blue);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}


/*============================================================================================
                                MEDIA QUERIES SECTION
=============================================================================================*/
@media (max-width: 1200px) {
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 3rem 2rem;
    }
}

@media (max-width: 991px) {
    /* reviews section */
    .client-reviews .reviews-wrapper .left-arrow,
    .client-reviews .reviews-wrapper .right-arrow {
        display: none;
    }

    .reviews-wrapper .navigationButtons {
        display: flex;
    }

    .reviews-wrapper .navigationButtons .left-arrow-btn,
    .reviews-wrapper .navigationButtons .right-arrow-btn {
        display: flex;
    }
    
}

@media (max-width: 768px) {
    /* The header section stlyling for mobile screens */
    .desktop-menu {
        display: none;
    }

    .header .open-menu-btn {
        display: block;
    }

    .header .mobile-menu {
        visibility: hidden; /* Ensure it's hidden on desktop */
        opacity: 0; /* No opacity transition */
        transform: translateX(100%); /* No transform to maintain position */
        transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transitions */
    }

    .header .mobile-menu.active {
        transform: translateX(0); /* Slide in to visible position */
        opacity: 1; /* Make it visible */
        pointer-events: auto; /* Allow interaction */
        visibility: visible; /* Set visibility to visible */
    }
    
    /* Styles for the navbar inside mobile menu */
    .mobile-menu .navbar {
        margin-top: 8rem;
        display: flex;
        flex-direction: column; /* Stack links vertically */
        align-items: flex-start; /* Align items to the left */
        height: 100%; /* Full height */
        padding: 2rem; /* Padding for aesthetics */
        color: var(--black); /* Text color */
    }

    .mobile-menu .navbar a {
        font-size: 1.5rem; /* Adjust font size */
        color: var(--black); /* Dark text color */
        text-transform: uppercase; /* Uppercase text */
        margin: 2rem 0; /* Space between items */
        text-decoration: none; /* Remove underline */
        transition: color 0.3s; /* Smooth color transition */
    }

    .navbar a.active,
    .navbar a:hover {
        background: var(--blue);
        padding: 7px 13px;
        border-radius: 3px;
        color: var(--white);
    }


    /* Close button style */
    .close-menu-btn {
        position: absolute; /* Position in the top-right corner */
        top: 20px;
        left: 20px; /* Align to left for better visibility */
        cursor: pointer; /* Pointer cursor */
        color: var(--black); /* Dark color for visibility */
        font-size: 2.5rem; /* Larger font size */
    }

    /* This is the start of the hero section on mobile screens */
    .home .slide {
        justify-content: center;
    }

    .home .slide .content {
        text-align: center;
    }

    .home .slide .content h3 {
        font-size: 3rem;
    }

    /* decrease the opacity of the two slides on mobile screens even more to make the
    texts more visible */
    .home .slide2::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.6);
    }
    
    .home .slide3::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.6);
    }

    .about-section {
        flex-direction: column;
    }

    #partners .partners-container .partner-card {
        width: 100%;
    }

    /* Our team members section starts here */
    .team-story-section .team-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }

    .team-container .team-member .team-member-name {
        font-size: 1.5rem; /* Adjust name font size */
    }

    .team-container .team-member .team-member-role {
        font-size: 1rem; /* Adjust role font size */
    }

    /* contact us section */
    .contact-details {
        flex-direction: column; 
        align-items: stretch;
    }
    
    .location-info, .contact-form {
        margin: 0;
        margin-bottom: 2rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 65%;
    }

    /* reviews section */
    .client-reviews .clients-container .client-images .client-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}
